<div class="modal fade" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="saleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                Add Items For Sale
            </div>
            <div class="modal-body sale-form">
                <form *ngIf="vm.active" class="form" #sellForm="ngForm">
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label class="control-label" for="item">
                                    Item:
                                </label>
                            </div>
                            <div class="col-md-10 col-sm-12 col-xs-12">
                                <div>
                                    <input ngControl="item" type="text" class="form-control" id="item" [(ngModel)]="vm.product.Title"
                                           required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <label class="control-label" for="category">
                                    Category:
                                </label>
                            </div>
                            <div class="col-md-9 col-sm-12 col-xs-12">
                                <div>
                                    <select ngControl="category"  class="form-control" id="category"
                                            [(ngModel)]="vm.product.CategoryId" required>
                                        <option *ngFor="let category of vm.categories; trackBy:Id"
                                                value="{{category.Id}}">{{category.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label class="control-label" for="description">
                                    Description:
                                </label>
                            </div>
                            <div class="col-md-10 col-sm-12 col-xs-12">
                                <div>
                                    <textarea ngControl="description"  class="form-control" id="description" [(ngModel)]="vm.product.Description"
                                              required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="col-md-3 col-sm-5 col-xs-12">
                                <label class="control-label">
                                    Condition:
                                </label>
                            </div>
                            <div class="col-md-9 col-sm-12 col-xs-12">
                                <div class="radio row">
                                    <label>
                                        <input #new type="radio" name="condition" value="1"
                                               [checked]="vm.product.IsItemConditionNew === new.value"
                                               (click)="vm.product.IsItemConditionNew = new.value">
                                        New
                                    </label>
                                </div>
                                <div class="radio row">
                                    <label>
                                        <input #used type="radio" name="condition" value="0"
                                               [checked]="vm.product.IsItemConditionNew === used.value"
                                               (click)="vm.product.IsItemConditionNew = used.value">
                                        Used
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label class="control-label" for="photo1">
                                    Photos:
                                </label>
                            </div>
                            <div class="col-md-10 col-sm-12 col-xs-12">
                                <div class="photos-input-container">
                                    <input ngControl="photo1" type="text" class="form-control" id="photo1"
                                           [(ngModel)]="vm.product.Picture1"
                                           required/>
                                    <input ngControl="photo2" type="text" class="form-control" [(ngModel)]="vm.product.Picture2"/>
                                    <input ngControl="photo3" type="text" class="form-control" [(ngModel)]="vm.product.Picture3"/>
                                    <input ngControl="photo4" type="text" class="form-control" [(ngModel)]="vm.product.Picture4"/>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label class="control-label" for="bid">
                                    Start Action bidding at:
                                </label>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-11">
                                <div>
                                    <input  ngControl="bid" type="number" class="form-control" id="bid" value="0.00" step="0.01"
                                           [(ngModel)]="vm.product.StartBid" required/>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-1">
                                <label>
                                    NIS
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <label class="control-label" for="last">
                                    Lasting for:
                                </label>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <select  ngControl="endTime" class="form-control" id="last"
                                        [(ngModel)]="vm.product.EndTime" required>
                                    <option *ngFor="let date of vm.futureDates"
                                            value="{{date.futureDate}}">{{date.futureDateString}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row modal-footer sale-footer">
                        <button type="submit" class="btn btn-lg btn-base btn-base-small-color"
                                data-dismiss="modal" aria-label="Close"
                                (click)="vm.addAndSaveBtn()"
                                [disabled]="!sellForm.form.valid">
                            save and Preview
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>